# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: 1 - Build Start

on:
  workflow_dispatch: 
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.x

    - name: Cache NuGet packages
      uses: actions/cache@v4
      with:
        path: ~/.nuget/packages
        key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}
        restore-keys: |
          ${{ runner.os }}-nuget-
        
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore

    - name: Run Unit Test
      run: dotnet test ./Test/UnitTest/UnitTest.csproj --verbosity normal

    - name: Run Smoke Test
      run: dotnet test ./Test/SmokeTest/Smoke_Test.csproj --verbosity normal

    - name: Run Page Test
      run: dotnet test ./Test/PageTest/PageTest.csproj --verbosity normal

    - name: Run BDD Test
      run: dotnet test ./Test/BDDTest/BDDTest.csproj --verbosity normal

    - name: Publish for deployment
      run: dotnet publish ./BPCalculator/BPCalculator.csproj -c Release -o "./publish"
    
    - name: Upload published artifact
      uses: actions/upload-artifact@v4
      with:
        name: published-app
        path: ./publish

