on:
  workflow_call:
  workflow_dispatch:

name: 2 - Sonarube
jobs:
  sonarqube:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Install coverlet
      run: dotnet tool install -g coverlet.console

    - name: Build test projects
      run: |
        dotnet build ./Test/UnitTest/UnitTest.csproj
        dotnet build ./Test/PageTest/PageTest.csproj
        dotnet build ./Test/BDDTest/BDDTest.csproj

    - name: Generate coverage
      run: |
        coverlet ./Test/UnitTest/bin/Debug/net9.0/UnitTest.dll --target "dotnet" --targetargs "test --no-build" -f opencover -o UnitTest.xml
        coverlet ./Test/PageTest/bin/Debug/net9.0/PageTest.dll --target "dotnet" --targetargs "test --no-build" -f opencover -o PageTest.xml
        coverlet ./Test/BDDTest/bin/Debug/net9.0/BDDTest.dll --target "dotnet" --targetargs "test --no-build" -f opencover -o BDDTest.xml

    - name: SonarQube Scan
      uses: SonarSource/sonarqube-scan-action@v6.0.0
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      with:
        args: >
          -Dsonar.cs.opencover.reportsPaths=UnitTest.xml,SmokeTest.xml,PageTest.xml,BDDTest.xml
