on:
  workflow_call:
  workflow_dispatch:

name: 2 - Sonarube - 1

jobs:
  sonarqube:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Install reportgenerator
      run: dotnet tool install -g dotnet-reportgenerator-globaltool

    - name: Install XPlat Code Coverage Collector
      run: dotnet tool install --global dotnet-coverage

    - name: Run tests with coverage
      run: |
        dotnet test ./Test/UnitTest/UnitTest.csproj --collect:"XPlat Code Coverage" --results-directory TestResults
        dotnet test ./Test/SmokeTest/Smoke_Test.csproj --collect:"XPlat Code Coverage" --results-directory TestResults
        dotnet test ./Test/PageTest/PageTest.csproj --collect:"XPlat Code Coverage" --results-directory TestResults
        dotnet test ./Test/BDDTest/BDDTest.csproj --collect:"XPlat Code Coverage" --results-directory TestResults

        reportgenerator \
          -reports:TestResults/**/coverage.cobertura.xml \
          -targetdir:coveragereport \
          -reporttypes:SonarQube

    - name: SonarQube Scan
      uses: SonarSource/sonarqube-scan-action@v6.0.0
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      with:
        args: >
          -Dsonar.cs.coverageReportPaths=coveragereport/SonarQube.xml
