name: Deploy only test

on:
  #push:
  #  branches: [ "master" ]
  workflow_dispatch:

jobs:
  dotnet:
    name: 1_Build & Test 
    uses: ./.github/workflows/1_dotnet.yml
    secrets: inherit

  test_deploy:
    name: 3_Test Env Deploy
    needs: dotnet
    permissions:
      id-token: write
      contents: read
    uses: ./.github/workflows/3_deploy_test.yml
    secrets: inherit

  official_deploy:
    name: 6_Official Env Deploy
    needs: test_deploy
    permissions:
      id-token: write
      contents: read
    uses: ./.github/workflows/6_deploy_cloud.yml
    secrets: inherit
