name: HQ Control of All workflow

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  dotnet:
    name: Build & Test 
    uses: ./.github/workflows/dotnet.yml

  sonarqube_check:
    name: sonarqube quality check
    needs: dotnet
    uses: ./.github/workflows/sonarqube.yml

  k6_check:
    name: k6 performance checks
    needs: dotnet
    uses: ./.github/workflows/k6test.yml

  deploy:
    name: Deploy to Cloud
    needs: [sonarqube_check,k6_check]
    uses: ./.github/workflows/deploy_cloud.yml

