name: HQ Control of All workflow

on:
  #push:
  #  branches: [ "master" ]
  workflow_dispatch:

jobs:
  dotnet:
    name: Build & Test 
    uses: ./.github/workflows/dotnet.yml
    secrets: inherit

  sonarqube_check:
    name: Sonarqube Test
    needs: dotnet
    uses: ./.github/workflows/sonarqube.yml
    secrets: inherit

  k6_check:
    name: K6 Performance Test
    needs: dotnet
    uses: ./.github/workflows/k6test.yml
    secrets: inherit

  deploy:
    name: Deploy to Cloud
    needs: [sonarqube_check,k6_check]
    permissions:
      id-token: write
      contents: read
    uses: ./.github/workflows/deploy_cloud.yml
    secrets: inherit

  e2e_check:
    name: E2e UI Test
    needs: deploy
    uses: ./.github/workflows/playwright.yml
    secrets: inherit
