name: k6 bp

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  k6_load_test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Pull Docker image for k6
      run: docker pull grafana/k6

    - name: Run k6 load test on Grafana Cloud
      env:
        K6_CLOUD_TOKEN: ${{ secrets.K6_CLOUD_TOKEN }}
      run: docker run -i -e K6_CLOUD_TOKEN=$K6_CLOUD_TOKEN -v $PWD/k6test:/k6test grafana/k6 run --out cloud /k6test/perf1.js    
