name: HQ Control of All workflow

on:
  #push:
  #  branches: [ "master" ]
  workflow_dispatch:

jobs:
  dotnet:
    name: Build & Test 
    uses: ./.github/workflows/1_dotnet.yml
    secrets: inherit

  sonarqube_check:
    name: Sonarqube Test
    needs: dotnet
    uses: ./.github/workflows/2_sonarqube.yml
    secrets: inherit

  k6_check:
    name: K6 Performance Test
    needs: dotnet
    uses: ./.github/workflows/2_k6test.yml
    secrets: inherit

  test_deploy:
    name: Test Env Deploy
    needs: [sonarqube_check,k6_check]
    permissions:
      id-token: write
      contents: read
    uses: ./.github/workflows/4_deploy_test.yml
    secrets: inherit

  e2e_check:
    name: E2e UI Test
    needs: test_deploy
    uses: ./.github/workflows/5_playwright.yml
    secrets: inherit
    
  official_deploy:
    name: Official Env Deploy
    needs: e2e_check
    permissions:
      id-token: write
      contents: read
    uses: ./.github/workflows/6_deploy_cloud.yml
    secrets: inherit
