name: HQ Control of All workflow

on:
  #push:
  #  branches: [ "master" ]
  workflow_dispatch:

jobs:
  dotnet:
    name: 1_Build & Test 
    uses: ./.github/workflows/1_dotnet.yml
    secrets: inherit

  sonarqube_check:
    name: 2_Sonarqube Test
    needs: dotnet
    uses: ./.github/workflows/2_sonarqube.yml
    secrets: inherit

  dependency_check:
    name: 2_Dependency Test
    needs: dotnet
    uses: ./.github/workflows/2_dependency.yml
    secrets: inherit

  test_deploy:
    name: 3_Test Env Deploy
    needs: [sonarqube_check,dependency_check]
    permissions:
      id-token: write
      contents: read
    uses: ./.github/workflows/3_deploy_test.yml
    secrets: inherit

  e2e_check:
    name: 4_E2e UI Test
    needs: test_deploy
    uses: ./.github/workflows/4_playwright.yml
    secrets: inherit
    
  pen_check:
    name: 4_Penetration Test
    needs: test_deploy
    uses: ./.github/workflows/4_pen_test.yml
    secrets: inherit
    
  k6_check:
    name: 5_K6 Performance Test
    needs: [e2e_check,pen_check]
    uses: ./.github/workflows/5_k6test.yml
    secrets: inherit

  official_deploy:
    name: 6_Official Env Deploy
    needs: k6_check
    permissions:
      id-token: write
      contents: read
    uses: ./.github/workflows/6_deploy_cloud.yml
    secrets: inherit
